{{> head  }}

    {{> navbar  }}

<div class="row">

    <div class="col-8">
        <h1>Silla</h1>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint fugit corporis sapiente sunt adipisci reiciendis obcaecati officiis labore molestiae consequuntur in, sequi repellat animi dicta inventore recusandae qui quis eligendi?
    </div>

    <div class="col-4">
        <img  src="assets/img/chair.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer  }}